<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="mailto:nissim.shalom@gmail.com">
                            Send mail: nissim.shalom@gmail.com
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            Nissim Shalom
        </div>
    </div>
</footer>
